<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href= '#'/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename = 'CSS/main.css') }}/>
    <meta charset="UTF-8"/>
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
    
</head>
<body>
    <nav> <!-- Liens vers les deux pages HTML : index, qui contient le formulaire, et resultats, où seront affichés les résultats de la comparaison des deux brevets. -->
        <a href="{{ url_for('index') }}" style=" color:rgb(36, 86, 235)">Formulaire</a>
        <a href="{{ url_for('resultats') }}" style=" color:rgb(36, 86, 235)">Résultats</a>
    
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>